* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body,
html {
  height: 100%;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background: #dadada;
}

body::-webkit-scrollbar-thumb {
  background: var(--blue);
}

body::-webkit-scrollbar-thumb:hover {
  background: #3c189f;
}